---
layout: page
title: Layout
---

%h1 Layout

%section.section{id:"section"}
  %h2 Section
  %hr
  .docs-demo

%section.section{id:"container"}
  %h2 Container
  %hr

%section.section{id:"columns"}
  %h2 Columns
  %hr
  .columns
    .column column
    .column column
    .column column

%section.section{id:"stack"}
  %h2 Stack
  %hr
