---
layout: page
title: Icons
---

<h1>Iconography</h1>
<hr/>

<article id="icons-ionicons" class="hidden">
  <i class="icon-xl icon-android-arrow-back"></i>
  <i class="icon-xl icon-android-arrow-forward"></i>
  <i class="icon-xl icon-android-cart"></i>
  <i class="icon-xl icon-android-favorite"></i>
  <i class="icon-xl icon-android-favorite-outline"></i>
  <i class="icon-xl icon-android-lock"></i>
  <i class="icon-xl icon-android-search"></i>
  <i class="icon-xl icon-android-star"></i>
  <i class="icon-xl icon-android-star-half"></i>
  <i class="icon-xl icon-android-star-outline"></i>
  <i class="icon-xl icon-arrow-expand"></i>
  <i class="icon-xl icon-bag"></i>
  <i class="icon-xl icon-checkmark-circled"></i>
  <i class="icon-xl icon-help-buoy"></i>
  <i class="icon-xl icon-arrow-left"></i>
  <i class="icon-xl icon-arrow-right"></i>
  <i class="icon-xl icon-navicon"></i>
  <i class="icon-xl icon-social-facebook"></i>
  <i class="icon-xl icon-social-facebook-outline"></i>
  <i class="icon-xl icon-social-googleplus"></i>
  <i class="icon-xl icon-social-googleplus-outline"></i>
  <i class="icon-xl icon-social-instagram"></i>
  <i class="icon-xl icon-social-instagram-outline"></i>
  <i class="icon-xl icon-social-skype"></i>
  <i class="icon-xl icon-social-skype-outline"></i>
  <i class="icon-xl icon-social-tumblr"></i>
  <i class="icon-xl icon-social-twitter"></i>
  <i class="icon-xl icon-social-twitter-outline"></i>
  <i class="icon-xl icon-social-whatsapp"></i>
  <i class="icon-xl icon-social-whatsapp-outline"></i>
  <i class="icon-xl icon-social-youtube"></i>
  <i class="icon-xl icon-social-youtube-outline"></i>
</article>
<article id="icons-icomoon">
  <i class="icon-xl icon-activity"></i>
  <i class="icon-xl icon-airplay"></i>
  <i class="icon-xl icon-alert-circle"></i>
  <i class="icon-xl icon-alert-octagon"></i>
  <i class="icon-xl icon-alert-triangle"></i>
  <i class="icon-xl icon-align-center"></i>
  <i class="icon-xl icon-align-justify"></i>
  <i class="icon-xl icon-align-left"></i>
  <i class="icon-xl icon-align-right"></i>
  <i class="icon-xl icon-anchor"></i>
  <i class="icon-xl icon-aperture"></i>
  <i class="icon-xl icon-archive"></i>
  <i class="icon-xl icon-arrow-down"></i>
  <i class="icon-xl icon-arrow-down-circle"></i>
  <i class="icon-xl icon-arrow-down-left"></i>
  <i class="icon-xl icon-arrow-down-right"></i>
  <i class="icon-xl icon-arrow-left"></i>
  <i class="icon-xl icon-arrow-left-circle"></i>
  <i class="icon-xl icon-arrow-right"></i>
  <i class="icon-xl icon-arrow-right-circle"></i>
  <i class="icon-xl icon-arrow-up"></i>
  <i class="icon-xl icon-arrow-up-circle"></i>
  <i class="icon-xl icon-arrow-up-left"></i>
  <i class="icon-xl icon-arrow-up-right"></i>
  <i class="icon-xl icon-at-sign"></i>
  <i class="icon-xl icon-award"></i>
  <i class="icon-xl icon-bar-chart"></i>
  <i class="icon-xl icon-bar-chart-2"></i>
  <i class="icon-xl icon-battery"></i>
  <i class="icon-xl icon-battery-charging"></i>
  <i class="icon-xl icon-bell"></i>
  <i class="icon-xl icon-bell-off"></i>
  <i class="icon-xl icon-bluetooth"></i>
  <i class="icon-xl icon-bold"></i>
  <i class="icon-xl icon-book"></i>
  <i class="icon-xl icon-book-open"></i>
  <i class="icon-xl icon-bookmark"></i>
  <i class="icon-xl icon-box"></i>
  <i class="icon-xl icon-briefcase"></i>
  <i class="icon-xl icon-calendar"></i>
  <i class="icon-xl icon-camera"></i>
  <i class="icon-xl icon-camera-off"></i>
  <i class="icon-xl icon-cast"></i>
  <i class="icon-xl icon-check"></i>
  <i class="icon-xl icon-check-circle"></i>
  <i class="icon-xl icon-check-square"></i>
  <i class="icon-xl icon-chevron-down"></i>
  <i class="icon-xl icon-chevron-left"></i>
  <i class="icon-xl icon-chevron-right"></i>
  <i class="icon-xl icon-chevron-up"></i>
  <i class="icon-xl icon-chevrons-down"></i>
  <i class="icon-xl icon-chevrons-left"></i>
  <i class="icon-xl icon-chevrons-right"></i>
  <i class="icon-xl icon-chevrons-up"></i>
  <i class="icon-xl icon-chrome"></i>
  <i class="icon-xl icon-circle"></i>
  <i class="icon-xl icon-clipboard"></i>
  <i class="icon-xl icon-clock"></i>
  <i class="icon-xl icon-cloud"></i>
  <i class="icon-xl icon-cloud-drizzle"></i>
  <i class="icon-xl icon-cloud-lightning"></i>
  <i class="icon-xl icon-cloud-off"></i>
  <i class="icon-xl icon-cloud-rain"></i>
  <i class="icon-xl icon-cloud-snow"></i>
  <i class="icon-xl icon-code"></i>
  <i class="icon-xl icon-codepen"></i>
  <i class="icon-xl icon-codesandbox"></i>
  <i class="icon-xl icon-coffee"></i>
  <i class="icon-xl icon-columns"></i>
  <i class="icon-xl icon-command"></i>
  <i class="icon-xl icon-compass"></i>
  <i class="icon-xl icon-copy"></i>
  <i class="icon-xl icon-corner-down-left"></i>
  <i class="icon-xl icon-corner-down-right"></i>
  <i class="icon-xl icon-corner-left-down"></i>
  <i class="icon-xl icon-corner-left-up"></i>
  <i class="icon-xl icon-corner-right-down"></i>
  <i class="icon-xl icon-corner-right-up"></i>
  <i class="icon-xl icon-corner-up-left"></i>
  <i class="icon-xl icon-corner-up-right"></i>
  <i class="icon-xl icon-cpu"></i>
  <i class="icon-xl icon-credit-card"></i>
  <i class="icon-xl icon-crop"></i>
  <i class="icon-xl icon-crosshair"></i>
  <i class="icon-xl icon-database"></i>
  <i class="icon-xl icon-delete"></i>
  <i class="icon-xl icon-disc"></i>
  <i class="icon-xl icon-dollar-sign"></i>
  <i class="icon-xl icon-download"></i>
  <i class="icon-xl icon-download-cloud"></i>
  <i class="icon-xl icon-droplet"></i>
  <i class="icon-xl icon-edit"></i>
  <i class="icon-xl icon-edit-2"></i>
  <i class="icon-xl icon-edit-3"></i>
  <i class="icon-xl icon-external-link"></i>
  <i class="icon-xl icon-eye"></i>
  <i class="icon-xl icon-eye-off"></i>
  <i class="icon-xl icon-facebook"></i>
  <i class="icon-xl icon-fast-forward"></i>
  <i class="icon-xl icon-feather"></i>
  <i class="icon-xl icon-file"></i>
  <i class="icon-xl icon-file-minus"></i>
  <i class="icon-xl icon-file-plus"></i>
  <i class="icon-xl icon-file-text"></i>
  <i class="icon-xl icon-film"></i>
  <i class="icon-xl icon-filter"></i>
  <i class="icon-xl icon-flag"></i>
  <i class="icon-xl icon-folder"></i>
  <i class="icon-xl icon-folder-minus"></i>
  <i class="icon-xl icon-folder-plus"></i>
  <i class="icon-xl icon-frown"></i>
  <i class="icon-xl icon-gift"></i>
  <i class="icon-xl icon-globe"></i>
  <i class="icon-xl icon-grid"></i>
  <i class="icon-xl icon-hard-drive"></i>
  <i class="icon-xl icon-hash"></i>
  <i class="icon-xl icon-headphones"></i>
  <i class="icon-xl icon-heart"></i>
  <i class="icon-xl icon-help-circle"></i>
  <i class="icon-xl icon-hexagon"></i>
  <i class="icon-xl icon-home"></i>
  <i class="icon-xl icon-image"></i>
  <i class="icon-xl icon-inbox"></i>
  <i class="icon-xl icon-info"></i>
  <i class="icon-xl icon-instagram"></i>
  <i class="icon-xl icon-italic"></i>
  <i class="icon-xl icon-key"></i>
  <i class="icon-xl icon-layers"></i>
  <i class="icon-xl icon-layout"></i>
  <i class="icon-xl icon-life-buoy"></i>
  <i class="icon-xl icon-link"></i>
  <i class="icon-xl icon-link-2"></i>
  <i class="icon-xl icon-linkedin"></i>
  <i class="icon-xl icon-list"></i>
  <i class="icon-xl icon-loader"></i>
  <i class="icon-xl icon-lock"></i>
  <i class="icon-xl icon-log-in"></i>
  <i class="icon-xl icon-log-out"></i>
  <i class="icon-xl icon-mail"></i>
  <i class="icon-xl icon-map"></i>
  <i class="icon-xl icon-map-pin"></i>
  <i class="icon-xl icon-maximize"></i>
  <i class="icon-xl icon-maximize-2"></i>
  <i class="icon-xl icon-meh"></i>
  <i class="icon-xl icon-menu"></i>
  <i class="icon-xl icon-message-circle"></i>
  <i class="icon-xl icon-message-square"></i>
  <i class="icon-xl icon-mic"></i>
  <i class="icon-xl icon-mic-off"></i>
  <i class="icon-xl icon-minimize"></i>
  <i class="icon-xl icon-minimize-2"></i>
  <i class="icon-xl icon-minus"></i>
  <i class="icon-xl icon-minus-circle"></i>
  <i class="icon-xl icon-minus-square"></i>
  <i class="icon-xl icon-monitor"></i>
  <i class="icon-xl icon-moon"></i>
  <i class="icon-xl icon-more-horizontal"></i>
  <i class="icon-xl icon-more-vertical"></i>
  <i class="icon-xl icon-mouse-pointer"></i>
  <i class="icon-xl icon-move"></i>
  <i class="icon-xl icon-music"></i>
  <i class="icon-xl icon-navigation"></i>
  <i class="icon-xl icon-navigation-2"></i>
  <i class="icon-xl icon-octagon"></i>
  <i class="icon-xl icon-package"></i>
  <i class="icon-xl icon-paperclip"></i>
  <i class="icon-xl icon-pause"></i>
  <i class="icon-xl icon-pause-circle"></i>
  <i class="icon-xl icon-pen-tool"></i>
  <i class="icon-xl icon-percent"></i>
  <i class="icon-xl icon-phone"></i>
  <i class="icon-xl icon-phone-call"></i>
  <i class="icon-xl icon-phone-forwarded"></i>
  <i class="icon-xl icon-phone-incoming"></i>
  <i class="icon-xl icon-phone-missed"></i>
  <i class="icon-xl icon-phone-off"></i>
  <i class="icon-xl icon-phone-outgoing"></i>
  <i class="icon-xl icon-pie-chart"></i>
  <i class="icon-xl icon-play"></i>
  <i class="icon-xl icon-play-circle"></i>
  <i class="icon-xl icon-plus"></i>
  <i class="icon-xl icon-plus-circle"></i>
  <i class="icon-xl icon-plus-square"></i>
  <i class="icon-xl icon-pocket"></i>
  <i class="icon-xl icon-power"></i>
  <i class="icon-xl icon-printer"></i>
  <i class="icon-xl icon-radio"></i>
  <i class="icon-xl icon-refresh-ccw"></i>
  <i class="icon-xl icon-refresh-cw"></i>
  <i class="icon-xl icon-repeat"></i>
  <i class="icon-xl icon-rewind"></i>
  <i class="icon-xl icon-rotate-ccw"></i>
  <i class="icon-xl icon-rotate-cw"></i>
  <i class="icon-xl icon-rss"></i>
  <i class="icon-xl icon-save"></i>
  <i class="icon-xl icon-scissors"></i>
  <i class="icon-xl icon-search"></i>
  <i class="icon-xl icon-send"></i>
  <i class="icon-xl icon-server"></i>
  <i class="icon-xl icon-settings"></i>
  <i class="icon-xl icon-share"></i>
  <i class="icon-xl icon-share-2"></i>
  <i class="icon-xl icon-shield"></i>
  <i class="icon-xl icon-shield-off"></i>
  <i class="icon-xl icon-shopping-bag"></i>
  <i class="icon-xl icon-shopping-cart"></i>
  <i class="icon-xl icon-shuffle"></i>
  <i class="icon-xl icon-sidebar"></i>
  <i class="icon-xl icon-skip-back"></i>
  <i class="icon-xl icon-skip-forward"></i>
  <i class="icon-xl icon-slack"></i>
  <i class="icon-xl icon-slash"></i>
  <i class="icon-xl icon-sliders"></i>
  <i class="icon-xl icon-smartphone"></i>
  <i class="icon-xl icon-smile"></i>
  <i class="icon-xl icon-speaker"></i>
  <i class="icon-xl icon-square"></i>
  <i class="icon-xl icon-star"></i>
  <i class="icon-xl icon-stop-circle"></i>
  <i class="icon-xl icon-sun"></i>
  <i class="icon-xl icon-sunrise"></i>
  <i class="icon-xl icon-sunset"></i>
  <i class="icon-xl icon-tablet"></i>
  <i class="icon-xl icon-tag"></i>
  <i class="icon-xl icon-target"></i>
  <i class="icon-xl icon-terminal"></i>
  <i class="icon-xl icon-thermometer"></i>
  <i class="icon-xl icon-thumbs-down"></i>
  <i class="icon-xl icon-thumbs-up"></i>
  <i class="icon-xl icon-toggle-left"></i>
  <i class="icon-xl icon-toggle-right"></i>
  <i class="icon-xl icon-tool"></i>
  <i class="icon-xl icon-trash"></i>
  <i class="icon-xl icon-trash-2"></i>
  <i class="icon-xl icon-trello"></i>
  <i class="icon-xl icon-trending-down"></i>
  <i class="icon-xl icon-trending-up"></i>
  <i class="icon-xl icon-triangle"></i>
  <i class="icon-xl icon-truck"></i>
  <i class="icon-xl icon-tv"></i>
  <i class="icon-xl icon-twitter"></i>
  <i class="icon-xl icon-type"></i>
  <i class="icon-xl icon-umbrella"></i>
  <i class="icon-xl icon-underline"></i>
  <i class="icon-xl icon-unlock"></i>
  <i class="icon-xl icon-upload"></i>
  <i class="icon-xl icon-upload-cloud"></i>
  <i class="icon-xl icon-user"></i>
  <i class="icon-xl icon-user-check"></i>
  <i class="icon-xl icon-user-minus"></i>
  <i class="icon-xl icon-user-plus"></i>
  <i class="icon-xl icon-user-x"></i>
  <i class="icon-xl icon-users"></i>
  <i class="icon-xl icon-video"></i>
  <i class="icon-xl icon-video-off"></i>
  <i class="icon-xl icon-voicemail"></i>
  <i class="icon-xl icon-volume"></i>
  <i class="icon-xl icon-volume-1"></i>
  <i class="icon-xl icon-volume-2"></i>
  <i class="icon-xl icon-volume-x"></i>
  <i class="icon-xl icon-watch"></i>
  <i class="icon-xl icon-wifi"></i>
  <i class="icon-xl icon-wifi-off"></i>
  <i class="icon-xl icon-wind"></i>
  <i class="icon-xl icon-x"></i>
  <i class="icon-xl icon-x-circle"></i>
  <i class="icon-xl icon-x-octagon"></i>
  <i class="icon-xl icon-x-square"></i>
  <i class="icon-xl icon-youtube"></i>
  <i class="icon-xl icon-zap"></i>
  <i class="icon-xl icon-zap-off"></i>
  <i class="icon-xl icon-zoom-in"></i>
  <i class="icon-xl icon-zoom-out"></i>
</article>
